All times EST.

<div class="row">
  <div class="col-md-6"> 
    <h3>Pre-workshop Troubleshooting (optional): December 3</h3>
    <p>
		    The instructors will host a one-hour troubleshooting session on <strong>Thursday, December 3 at 3pm EDT</strong> to address any issue you may encounter while installing the required software. Attendance is not required, just drop in if you have questions or issues.
	    </p>  
  </div>
</div>
<div class="row">
  <div class="col-md-6">  
    <h3>Day 1 (lead instructor: David DeFranza)</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>01:00</td>  <td>Unix Shell refresher</td> </tr>
      <tr> <td>02:00</td>  <td>Break</td> </tr>
      <tr> <td>02:15</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Programming in Python</a> (lessons 1-4)</td> </tr>
      <tr> <td>03:30</td>  <td>Break</td> </tr>
      <tr> <td>03:45</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Programming in Python</a> (lessons 11-16)</td> </tr>
      <tr> <td>04:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>05:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
  <h3>Day 2 (lead instructor: Elise Lauterbur)</h3>
    <table class="table table-striped">
      <tr> <td>01:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and data management in Python</a> (lessons 6-9)</td> </tr>
      <tr> <td>02:00</td>  <td>Break</td> </tr>
      <tr> <td>02:15</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and data management in Python</a> (lessons 6-9, cont.d)</td> </tr>
      <tr> <td>03:30</td>  <td>Break</td> </tr>
      <tr> <td>03:45</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming and debugging strategies in Python</a> (lessons 9-12)</td> </tr>
      <tr> <td>04:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>05:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  <h3>Day 3 (lead instructor: Martino Sorbaro)</h3>
    <table class="table table-striped">
      <tr> <td>01:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version control with Git</a></td> </tr>
      <tr> <td>02:00</td>  <td>Break</td> </tr>
      <tr> <td>02:15</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version control with Git</a> (continued)</td> </tr>
      <tr> <td>03:30</td>  <td>Break</td> </tr>
      <tr> <td>03:45</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version control with Git</a> (continued)</td> </tr>
      <tr> <td>04:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>05:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 (lead instructor: Daniel Wheeler)</h3>
    <table class="table table-striped">
      <tr> <td>01:00</td>  <td><a href="https://carpentrieslab.github.io/python-aos-lesson/">Python for Atmosphere and Ocean Scientists</a></td> </tr>
      <tr> <td>02:00</td>  <td>Break</td> </tr>
      <tr> <td>02:15</td>  <td>Working with netCDF data and other tools</td> </tr>
      <tr> <td>03:15</td>  <td>Break</td> </tr>
      <tr> <td>03:30</td>  <td>Applying what you learned to your own data</td> </tr>
      <tr> <td>04:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>05:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
